<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>JSX and Babel</title>
  </head>
  <body>
    <div id="root"></div>
    <script src="https://unpkg.com/react@18.2.0/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@18.2.0/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script type="text/babel">
      const reactRoot = ReactDOM.createRoot(document.getElementById('root')); // Here we are creating root element
      function Comp(){
        // In this component we are returning a  paragraph tag and a div, this div contains a paragraph tag and button, if we click on button 
        // then it shows the alert hello.
        return <>
            <p>React is a javascript library</p>
            <div className="main" style={{backgroundColor : "black", color : "white"}}>
                <p>Click the below button to alert 'Hello'</p>
                <button onClick={() => alert("Hello")}>Alert Hello</button>
            </div>
        </>
      }
      reactRoot.render(<Comp />) // here we are rendering comp functional component using react render method.
    </script>
  </body>
</html>